@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Tangerine:wght@400;700&display=swap');
body{
     font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsK9_Q8OOdNp66LEDZMwlBu_iR8WPh8B2yqw&s);
  padding: 100px 0;
}

.container{
    width: 800px;
    min-height: 800px;
    border: 10px solid pink;
    margin: 0px auto;
    background: white;
}
.header {
  display: flex;             /* размещает фото и текст в одну линию */
  align-items: center;       /* выравнивает их по центру по вертикали */
  gap: 20px;                 /* расстояние между фото и текстом */
  font-size: 200%;
  justify-content: flex-start;
}

.about-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 100%;        /* круг */
  border: 3px solid pink;
  object-fit: cover;         /* чтобы фото не растягивалось */
}
.about {
  padding: 40px;
  background: white;
  border: 3px solid pink;
  border-radius: 12px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.about h2 {
  font-family: "MonteCarlo", cursive;
  font-size: 40px;
  color: #d63384;
  margin-bottom: 10px;
  text-align: center;
}
h2 {
  font-family: "MonteCarlo", cursive;
  color: #b30059;
  text-align: center;
  position: relative;
}
h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: pink;
  margin: 6px auto 10px;
  border-radius: 2px;
}
p:hover {
  background: linear-gradient(90deg, #ffe0ec, #ffffff);
  transition: 0.4s;
}
.contact {
  background: #fffafc; /* нежно-розовый фон */
  border: 2px solid pink;
  border-radius: 12px;
  padding: 25px 35px;
  width: 80%;
  margin: 40px auto;
  font-size: 18px;
  line-height: 1.7;
  box-shadow: 0 4px 15px rgba(255, 182, 193, 0.3); /* лёгкая тень */
  animation: fadeIn 1.5s ease; /* плавное появление */
}

.contact h2 {
  text-align: center;
  font-family: "MonteCarlo", cursive;
  color: #b30059;
  margin-bottom: 15px;
}

.contact a {
  color: #d63384;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline; /* подчёркивание при наведении */
  color: #ff5fa2;
}

.contact p {
  margin: 10px 0;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}